In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
data=pd.read_csv("E:\GenAI course\ANN prj\Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
data=data.drop(["RowNumber","CustomerId","Surname"],axis=1)

In [6]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [8]:
enc  = LabelEncoder()
data["Gender"] = enc.fit_transform(data["Gender"])

In [9]:
from sklearn.preprocessing import OneHotEncoder
OE=OneHotEncoder()
geo_encoder = OE.fit_transform(data[["Geography"]])

In [10]:
encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=OE.get_feature_names_out(["Geography"]))

In [11]:
encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [12]:
data=pd.concat([data.drop("Geography",axis=1),encoded_df],axis=1)

In [13]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [14]:
with open("label_encoder_gender.pkl","wb") as file:
    pickle.dump(enc,file)

with open("OneHotEncoder.pkl","wb") as file:
    pickle.dump(OE,file)

In [15]:
x = data.drop("Exited",axis=1)
y=data["Exited"]

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=42,test_size=0.2)

sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [17]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [18]:
with open("scaler.pkl","wb") as file:
    pickle.dump(sc, file)

In [19]:
#ANN IMPLEMENTATION
!pip install tensorflow
import tensorflow as tf

Requirement already satisfied: tensorflow in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (2.18.0)
Requirement already satisfied: tensorflow-intel==2.18.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow) (2.18.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (3.4.0)
Requirement already satisfied: packaging in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (3.20.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (2.31.0)
Requirement already satisfied: setuptools in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (68.2.2)
Requirement already satisfied: six>=1.12.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (4.9.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (1.68.1)
Requirement already satisfied: tensorboard<2.19,>=2.18 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (2.18.0)
Requirement already satisfied: keras>=3.5.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (3.7.0)
Requirement already satisfied: numpy<2.1.0,>=1.26.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (1.26.4)
Requirement already satisfied: h5py>=3.11.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (3.12.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.4.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (0.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow) (0.31.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.18.0->tensorflow) (0.41.2)
Requirement already satisfied: rich in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow) (13.3.5)
Requirement already satisfied: namex in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow) (0.0.8)
Requirement already satisfied: optree in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow) (0.13.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow) (2024.2.2)
Requirement already satisfied: markdown>=2.6.8 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorboard<2.19,>=2.18->tensorflow-intel==2.18.0->tensorflow) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorboard<2.19,>=2.18->tensorflow-intel==2.18.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from tensorboard<2.19,>=2.18->tensorflow-intel==2.18.0->tensorflow) (2.2.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow-intel==2.18.0->tensorflow) (2.1.3)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from rich->keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from rich->keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich->keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow) (0.1.0)

In [22]:
!pip install keras

Requirement already satisfied: keras in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (3.7.0)
Requirement already satisfied: absl-py in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from keras) (2.1.0)
Requirement already satisfied: numpy in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from keras) (1.26.4)
Requirement already satisfied: rich in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from keras) (13.3.5)
Requirement already satisfied: namex in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from keras) (0.0.8)
Requirement already satisfied: h5py in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from keras) (3.12.1)
Requirement already satisfied: optree in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from keras) (0.13.1)
Requirement already satisfied: ml-dtypes in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from keras) (0.4.1)
Requirement already satisfied: packaging in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from keras) (23.1)
Requirement already satisfied: typing-extensions>=4.5.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from optree->keras) (4.9.0)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from rich->keras) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from rich->keras) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\govin\anaconda3\envs\capam_mrta\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich->keras) (0.1.0)

In [25]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [31]:
x_train.shape[1]

12

In [32]:
model = Sequential([
    Dense(64,activation="relu",input_shape=(x_train.shape[1],)),#HL1
    Dense(32,activation="relu"),#HL2
    Dense(1,activation="sigmoid")#output layer
    
])

c:\Users\govin\anaconda3\envs\CapAM_MRTA\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [33]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
#opt = tf.keras.optimizers.Adam(learning_rate=0.01)
#loss= tf.keras.losses.BinaryCrossentropy()

In [40]:
## compilation
##for multi categorical features use sparse crossentropy
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [41]:
## Setup Tensorboard
log_dir="logs/fit"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [42]:
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [43]:
## Setup Early stopping
#why early stopping? - suppose the model has trained at it level at 20 epoch 
#then there is no need to run 100 epoch
#we can montor loss and stop early

early_stopping_callback = EarlyStopping(monitor="val_loss",patience=5,restore_best_weights=True)

In [44]:
##Training
history = model.fit(
    x_train, y_train,validation_data=(x_test, y_test),epochs=100,
    callbacks = [tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7487 - loss: 0.5079 - val_accuracy: 0.8285 - val_loss: 0.4002
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8323 - loss: 0.3957 - val_accuracy: 0.8475 - val_loss: 0.3630
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8529 - loss: 0.3566 - val_accuracy: 0.8575 - val_loss: 0.3494
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8659 - loss: 0.3314 - val_accuracy: 0.8580 - val_loss: 0.3477
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8611 - loss: 0.3344 - val_accuracy: 0.8600 - val_loss: 0.3441
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8563 - loss: 0.3392 - val_accuracy: 0.8585 - val_loss: 0.3447
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8623 - loss: 0.3361 - val_accuracy: 0.8615 - val_loss: 0.3459
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8694 - loss: 0.3188 - val_accuracy: 0.8650 - val_loss: 0.3407
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8668 - loss: 0.3274 - val_accuracy: 0.8630 - val_loss: 0.3444
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8604 - loss: 0.3296 - val_accuracy: 0.8665 - val_loss: 0.3389
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8667 - loss: 0.3189 - val_accuracy: 0.8600 - val_loss: 0.3490
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8660 - loss: 0.3246 - val_accuracy: 0.8615 - val_loss: 0.3428
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8717 - loss: 0.3102 - val_accuracy: 0.8630 - val_loss: 0.3381
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8705 - loss: 0.3115 - val_accuracy: 0.8625 - val_loss: 0.3383
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8695 - loss: 0.3155 - val_accuracy: 0.8590 - val_loss: 0.3427
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8700 - loss: 0.3104 - val_accuracy: 0.8650 - val_loss: 0.3383
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8672 - loss: 0.3137 - val_accuracy: 0.8615 - val_loss: 0.3420
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8707 - loss: 0.3036 - val_accuracy: 0.8610 - val_loss: 0.3445

In [45]:
model.save("model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [46]:
%load_ext tensorboard